.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  align-items: center;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___img {
  height: 380px;
}

.fighter-preview___right img {
  transform: scaleX(-1);
}

.fighter-preview___choose-fighter-title {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 3rem;
  font-family: 'Arial Black';
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.fighter-preview__info {
  align-self: stretch;
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-family: 'Arial Black';
  font-weight: 700;
  text-transform: uppercase;
}

.fighter-preview__info h1 {
  font-size: 2rem;
  text-align: center;
}

.fighter-preview__info ul li {
  list-style: none;
  font-size: 1.5rem;
}
